/log/*
/tmp/*
/ipch
!/log/.keep
!/tmp/.keep
/.idea
/.vs
/doc
/.svn
*.VC.db
*.bak
*.cache
*.pch
*.vspscc
*.pdb
*.ipdb
*.obj
*.iobj
*.ilk
*.exe
*.dll
*.exe.config
Thumbs.db
.DS_Store
Desktop.ini
*.eep
*.elf
*.hex
*.lss
*.map
*.srec
*.o
*.d
